<!DOCTYPE html>
<html>

<head>
<!-- All the files that are required -->

<meta
  name="viewport"
  content="width=device-width, initial-scale=1"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" >

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Add Task</title>


</head>
<body style='background-color: #beebe9'>

<!-- ADD TASK FORM-->
<div class="text-center" style="padding:40px 100px">
	<div class="logo"><h3>Add a task here</h3></div>

	<!-- Main Form -->
	<div class="login-form-1" style="padding:10px 100px">
		<form id="register-form" class="text-left" action="/add" method="POST">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
          <div class="form-group">


            <div class="form-group">
              <h7><strong>  Task:</strong></h7>
  						<label for="title" class="sr-only">Title</label>
  						<input type="text" class="form-control" id="title" name="title" placeholder="title">
  					</div>

					<div class="form-group">
						<label for="description" class="sr-only">Description</label>
            <input type="textarea" class="form-control" id="description" name="description" placeholder="description">
          </div>

          <div class="form-group">
						<label for="deadline" class="sr-only">Deadline</label>
            <h7><strong>  Deadline:</strong></h7>
						<input type="date" class="form-control" id="deadline" name="deadline" placeholder="deadline">
					</div>

          <div class="form-group">
            <h7><strong>  Add to:</strong></h7>
            <br>

            <label for="status" class="sr-only">Status</label>
            <input type="radio" id="todo" name="status" value="0">

            <label for="todo">To do</label><br>
            <input type="radio" id="doing" name="status" value="1">

            <label for="doing">Doing</label><br>
            <input type="radio" id="done" name="status" value="2">
            <label for="done">Done</label>

 				 </div>

				</div>
        <button
        type="submit"
        value="Submit"
        style='background-color:grey; color:white;'>Add Task</button>
        </div>

      {% if error %}
      <p class="alert alert-danger" role="alert" align="center"><strong>ERROR:</strong>{{error}}
      {% endif %}

		</form>
	</div>
	<!-- end:Main Form -->
</div>
</body>
